<div class="baksu">
    <br><br>
    <h2>Form</h2>
    <form>
        <div class="baksuku">
            <input type="text" name="email" id="email">
            <label>Email</label>
        </div>
         <div class="baksuku">
            <input type="text" name="name" id="name">
            <label>Name</label>
        </div>
        <div class="baksuku">
            <input type="text" name="bio" id="bio">
            <label>Bio</label>
        </div>
        <div class="baksuku">
            <input type="text" name="active" id="active">   
            <label>Active</label>
        </div>
        <button class="submituu">Submit</button>
    </form>
</div>